@mixin flex-center-all($direction: row) {
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-direction : $direction;
}

@mixin global-reset {
	box-sizing: border-box;
	margin    : 0;
	padding   : 0;
}